:root {
    --dark-color: #160c28;
    --light-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    color: white;
}

body {
    background: linear-gradient(to right, #111, #113);
    background-size: 200%;
    animation: move 10s ease-in-out infinite;
}

@keyframes move {

    from,
    to {
        background-position: 0 50%;
    }

    50% {
        background-position: -100% 50%;
    }
}

/* 
    __ = child
    -- = modifier
*/

.card {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    padding: 4em 10em 0 10em;
    color: rgb(223, 223, 223);
}

.card__section {
    display: flex;
    place-content: center;
    padding: 2em 0 2em 0;
}

.card__section--black {
    background-color: black;
}

.card__section--fire {
    background-color: firebrick;
}

.card__section--lightblue {
    background-color: rgb(0, 140, 255);
}

.section__h2 {
    font-size: xx-large;
}

.section__h2--orange {
    color: orange;
}

.section__p {
    font-size: small;
    width: 500px;
}

.section__pre {
    background-color: #111;
}

.section__pre-medium {
    font-size: medium;
}